@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #333;
	margin: 0;
	padding: 0;
	color: #000;
}
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}
a img {
	border: none;
}
a:link {
	color:#5BDB3C;
	text-decoration: none;
}
a:visited {
	color: #5BDB3C;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	text-decoration: underline;
}
.container {
	width: 80%;
	max-width: 1260px;
	min-width: 780px;
	background-color: #FFF;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:48px; 
	border-radius:12px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	-moz-border-radius-topleft:0px;
	-moz-border-radius-topright:0px
	-moz-border-radius:12px;
	box-shadow: 3px 3px 5px #999 inset;
}
.header {
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #474747 28%, #1c1c1c 91%, #111111 100%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(28%,#474747), color-stop(91%,#1c1c1c), color-stop(100%,#111111), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#474747 28%,#1c1c1c 91%,#111111 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4c4c 0%,#474747 28%,#1c1c1c 91%,#111111 100%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#474747 28%,#1c1c1c 91%,#111111 100%,#131313 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#474747 28%,#1c1c1c 91%,#111111 100%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}
.sidebar1 {
	float: left;
	width: 20%;
	padding-bottom: 10px;
	color:#333;
}
.content {
	width: 80%;
	float: left;
	border-radius:12px;
	-moz-border-radius:12px;
}
.content ul, .content ol { 
	padding: 0 15px 15px 40px; 
}
ul.nav {
	list-style: none;
	border-top: 1px solid #666;
	margin-bottom: 15px;
	margin-left: 10px;
}
ul.nav li {
	border-bottom: 1px solid #CCC;
}
ul.nav a, ul.nav a:visited {
	padding: 5px 5px 5px 15px;
	display: block; 
	text-decoration: none;
	background: #707070; /* Old browsers */
	background: -moz-linear-gradient(top,  #707070 0%, #141c16 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707070), color-stop(100%,#141c16)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #707070 0%,#141c16 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #707070 0%,#141c16 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #707070 0%,#141c16 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #707070 0%,#141c16 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#141c16',GradientType=0 ); /* IE6-9 */
	color: #5BDB3C;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	background: #141c16; /* Old browsers */
background: -moz-linear-gradient(top,  #141c16 0%, #707070 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#141c16), color-stop(100%,#707070)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #141c16 0%,#707070 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #141c16 0%,#707070 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #141c16 0%,#707070 100%); /* IE10+ */
background: linear-gradient(to bottom,  #141c16 0%,#707070 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141c16', endColorstr='#707070',GradientType=0 ); /* IE6-9 */

	color: #FFF;
}
.banner_bottom ul.nav2 {
	list-style:none;
	border-top: 1px solid #666;
}
ul.nav2 li {
	margin-top:6px;
	display:inline;
	text-align:left;
}
ul.nav2 a, ul.nav2 a:visited {
	padding: 5px 5px 5px 15px;
	display: inline-block;
	width:56px;
	text-decoration: none;
	background: #707070; /* Old browsers */
	background: -moz-linear-gradient(top,  #707070 0%, #141c16 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707070), color-stop(100%,#141c16)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #707070 0%,#141c16 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #707070 0%,#141c16 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #707070 0%,#141c16 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #707070 0%,#141c16 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#141c16',GradientType=0 ); /* IE6-9 */
	color: #5BDB3C;
}
ul.nav2 a:hover, ul.nav2 a:active, ul.nav2 a:focus {
	background: #141c16; /* Old browsers */
background: -moz-linear-gradient(top,  #141c16 0%, #707070 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#141c16), color-stop(100%,#707070)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #141c16 0%,#707070 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #141c16 0%,#707070 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #141c16 0%,#707070 100%); /* IE10+ */
background: linear-gradient(to bottom,  #141c16 0%,#707070 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141c16', endColorstr='#707070',GradientType=0 ); /* IE6-9 */

	color: #FFF;
}
.footer {
	padding: 10px 0;
	background-color: #6F7D94;
	position: relative;
	clear: both;
}
/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
/* ~~ The footer ~~ */
div#footy {background:#484848 url(../images/textureblock.png) repeat; padding:10px 0px 0px 0px; font-size:14px; color:#CCC; border-top:#666 1px solid; width: 100%;max-width: 1600px;min-width: 780px;}
div#footy > a {outline:none; text-decoration:none; color:#FFF;}
div#footy > a:link {color:#FFF;}
div#footy > a:hover {color:#CCC; text-decoration:underline;}

div#footerWebServices{width:1000px; margin:12px auto 10px auto; height:44px; background:url(footerWebServices.png) no-repeat;}
div.footaff{width:1000px; margin:0px auto; padding-left:6px;}
div.footaff > div{float:left; width:125px; height:125px; border:#1E1E1E 1px solid; -moz-border-radius:3px; border-radius:3px; box-shadow: 0px 1px 1px #707070; margin:3px 4px 3px 3px; padding:4px; background:#333;}
div.footaff > div:hover{border:#CCC 1px solid;}
div.footaff > div > img{border:none;}
div.footaff > div.footaffwide{float:left; width:468px; height:60px; border:#1E1E1E 1px solid; -moz-border-radius:3px; border-radius:3px; box-shadow: 0px 1px 1px #707070; margin:6px 3px 3px 3px; padding:4px; background:#333;}
div.footaff > div.footaffwide:hover{border:#CCC 1px solid;}

div#footymenubar{width:48%; margin:10px auto 16px auto; background:#2C2C2C; padding:12px 14px; border:#1E1E1E 1px solid; -moz-border-radius:3px; border-radius:3px; box-shadow: 0px 1px 1px #707070; color:#999;}
div#footymenubar p a {outline:none; text-decoration:none; color:#5BDB3C;}
div#footymenubar p a:link {color:#5BDB3C;}
div#footymenubar p a:hover {color:#FFF; text-decoration:underline;}
div#footnav{width:1000px; margin:0px auto;}
div#footnav > div{float:left; width:160px; height:264px; background:#333; padding:8px 14px; border:#1E1E1E 1px solid; -moz-border-radius:3px; border-radius:3px; box-shadow: 0px 1px 1px #707070; line-height:2.0em; margin-right:12px;}
div#footnav > div > span{display:block; font-size:16px; font-weight:bold; text-shadow: -1px -1px #000000; color:#999;}
div#footnav > div > a{color:#06F; font-size:13px; text-shadow: -1px -1px #000000;}
div#footnav > div > a:link {color:#06F;}
div#footnav > div > a:hover {color:#FFF; text-decoration:underline;}
div#footerTop {width:1000px; margin:0px auto; font-size:12px; margin-bottom:6px; text-shadow: 0px -1px #000000;}
div#footerBtm{width:1000px; margin:12px auto 0px auto; height:111px; background:url(../images/footerBtm.png);}
/*~~~ Forms ~~~*/
.form {
	text-align:left;
	margin-left:8px;
	width: 89.8%;
	max-width: 100%;
	border-radius:3px;
	-moz-border-radius:3px;
	padding:6px;
	padding-left:10px;
	padding-bottom:26px;
	color:#FFF;
	background-color:#333;
}
.form label {
	text-align:left;
	margin-left: 10px;
	}
.submit{
	text-align:right;	
}
.submit button {
	width: auto;
	padding: 9px 15px;
	background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #666666 0%, #595959 30%, #2b2b2b 55%, #000000 100%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(0%,#666666), color-stop(30%,#595959), color-stop(55%,#2b2b2b), color-stop(100%,#000000), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#666666 0%,#595959 30%,#2b2b2b 55%,#000000 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c4c4c 0%,#666666 0%,#595959 30%,#2b2b2b 55%,#000000 100%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c4c4c 0%,#666666 0%,#595959 30%,#2b2b2b 55%,#000000 100%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4c4c4c 0%,#666666 0%,#595959 30%,#2b2b2b 55%,#000000 100%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	border: #5BDB3C .5px thin solid;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor:pointer;
	box-shadow:none;
	}
.submit button:hover{
	width: auto;
	padding: 9px 15px;
	border: #5BDB3C .5px thin solid;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor:pointer;
	box-shadow:none;
	background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #131313 0%, #1c1c1c 0%, #2b2b2b 0%, #111111 0%, #474747 0%, #2c2c2c 0%, #000000 0%, #666666 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(0%,#131313), color-stop(0%,#1c1c1c), color-stop(0%,#2b2b2b), color-stop(0%,#111111), color-stop(0%,#474747), color-stop(0%,#2c2c2c), color-stop(0%,#000000), color-stop(100%,#666666)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#131313 0%,#1c1c1c 0%,#2b2b2b 0%,#111111 0%,#474747 0%,#2c2c2c 0%,#000000 0%,#666666 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4c4c4c 0%,#131313 0%,#1c1c1c 0%,#2b2b2b 0%,#111111 0%,#474747 0%,#2c2c2c 0%,#000000 0%,#666666 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4c4c4c 0%,#131313 0%,#1c1c1c 0%,#2b2b2b 0%,#111111 0%,#474747 0%,#2c2c2c 0%,#000000 0%,#666666 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4c4c4c 0%,#131313 0%,#1c1c1c 0%,#2b2b2b 0%,#111111 0%,#474747 0%,#2c2c2c 0%,#000000 0%,#666666 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
}
.form input{
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 86%;
	background:#F8F8F8;
	box-shadow: 3px 3px 5px #CCC inset;
	-moz-box-shadow:3px 3px 5px #CCC inset;
	-webkit-box-shadow:3px 3px 5px #CCC inset;
	border-radius:3px;
	-moz-border-radius:3px;
}
